node_modules/

# Artifacts
build/
bin/
coverage/
coverage.json
typechain-types/
artifacts/
cache/
docgen/
flat/

# IDEs
.idea/
.vscode/

# NPM
gas-report
/bin/

.env

README-original.md

BT-1_data_contracts_deployed.txt
